.side-contents
  .header
    .header__user
      .header__user__left
        .header__user__left__name
          = current_user.name
        .header__user__left__introduction
          = simple_format(current_user.user_introduction)
      .header__user__right
        .header__user__right__img
          = image_tag current_user.avatar,:width => '60',:height => '70'
        .header__user__right__edit
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog',class: "header__user__right__edit__btn") 
        .header__user__right__write
          = link_to "#" do
            = icon('fas', 'edit',class: "header__user__right__write__btn") 
  .main
    .main__user-blogs
      -# -# - current_user.blogs.each do |blog|
      -# .main__user-blogs__title
      -#   = blog.title
      -# .main__user-blogs__created_at
      -#   = blog.created_at